@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Noto+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cormorant, noto-serif;
    color: #3a3a3a;
}

/* header styles */

#logo {
    text-transform: capitalize;
    float: left;
    color: #fff;
}

/* navigation links */

#nav-bars {
    font-size: 120%;
    letter-spacing: 2px;
}

#nav-bars li {
     float: right;
     list-style-type: none;
     margin-right: 20px;
}

#nav-bars a {
    text-decoration: none;
    color: #fff;
}

/* front page image */

#nice-living-room-main-img {
    height: 900px;
    width: 100%;
    background-image: url(../css/images/nice-living-room-main-img.jpg);
    background-size: cover;
}

/* company info */

#company-info {
    float: right;
    font-family: noto serif;
    list-style-type: none;
    margin-top: 700px;
    margin-right: -270px;
    color: #fff;
}

#site-aim {
    float: left;
    font-family: noto serif;
    margin-top: 500px;
    margin-left: -150px;
    color: #fff;
    text-align: center;
}

/* kitchen image styles */

#nice-kitchen-main-img {
     height: 800px;
     width: 100%;
     background-image: url(../css/images/nice-kitchen-main-img.jpg);
     background-size: cover;
}

#sub-img-kitchen {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#sub-img-kitchen > img {
    float: right;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

/* kitchen text styles */

#text-1-kitchen {
    float: left;
    text-align: center;
    margin-left: 4%;
}

#text-2-kitchen {
    float: center;
    margin-right: 23%;
    text-align: center;
}

#text-3-kitchen {
    float: right;
    margin-top: -90px;
    text-align: center;
}

/* bathroom image styles */

#nice-bathroom-main-img {
    height: 900px;
    width: 100%;
    background: url(../css/images/nice-bathroom-main-img.jpg) no-repeat center center;
    background-size: cover;
}

#sub-img-bathroom {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#sub-img-bathroom > img {
    float: right;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

/* bathroom text styles */

#text-1-bathroom {
    float: left;
    text-align: center;
    margin-top: 15px;
    margin-left: 3%;
}

#text-2-bathroom {
    float: center;
    margin-right: 25%;
    text-align: center;
}

#text-3-bathroom {
    float: right;
    text-align: center;
    margin-right: 3%;
    margin-top: -85px;
}

/* bedroom image styles */

#nice-bedroom-main-image > img {
    height: 600px;
    width: 100%;
    background-size: cover;
}

#sub-img-bedroom {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#sub-img-bedroom > img {
    width: 100%;
    box-sizing: border-box;
    float: right;
}
/* bedroom text styles */

#text-1-bedroom {
    float: left;
    text-align: center;
    margin-left: 3%;
    margin-top: 33px;
}

#text-2-bedroom {
    float: center;
    margin-right: 27%;
    text-align: center;
}

#text-3-bedroom {
    float: right;
    text-align: center;
    margin-right: 2%;
    margin-top: -120px;
}

/* footer styles */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}