@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Noto+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cormorant, noto-serif;
    color: #3a3a3a;
}

/* header styles */

#header {
    width: 100%;
    height: 40px;
    background-color: #3a3a3a;
    position: fixed;
    z-index: 2;

}

#logo {
    text-transform: capitalize;
    float: left;
    color: #fff;
}

#kitchen-header {
    text-decoration: underline;
}

#bathroom-header {
    text-decoration: underline;
}

#bedroom-header {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}

/* navigation links */

#nav-bars {
    font-size: 120%;
    letter-spacing: 2px;
    background-color: #3a3a3a;
}

#nav-bars li {
     float: right;
     list-style-type: none;
     margin-right: 20px;
     margin-top: 5px;
}

#nav-bars a {
    text-decoration: none;
    color: #fff;
}

/* front page image */

#nice-living-room-main-img {
    height: 900px;
    width: 100%;
    background-image: url(../css/images/nice-living-room-main-img.jpg);
    background-size: cover;
    z-index: 1;
}

/* company info */

#company-info {
    float: left;
    font-family: noto serif;
    list-style-type: none;
    margin-top: 40%;
    margin-left: 10%;
    color: #fff;
    background-color: #3a3a3a;
}

#site-aim {
    float: left;
    font-family: noto serif;
    margin-top: 20%;
    margin-left: 10%;
    color: #fff;
    text-align: center;
    background-color: #3a3a3a;
}

/* form styles */

#form {
    background-color: #3a3a3a;
    color: #fff;
    padding: 20px;
}

/* kitchen styles */

#nice-kitchen-main-img {
     height: 800px;
     width: 100%;
     background-image: url(../css/images/nice-kitchen-main-img.jpg);
     background-size: cover;
}

.sub-img-kitchen {
    clear: both;
    margin: 30px;
}

#sub-img-kit-1 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-kit-2 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-kit-3 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-kit-4 {
    float: left;
    margin: 50px;
    font-size: larger;
}

/* bathroom styles */

#nice-bathroom-main-img {
    height: 900px;
    width: 100%;
    background: url(../css/images/nice-bathroom-main-img.jpg) no-repeat center center;
    background-size: cover;
}

.sub-img-bathroom {
    clear: both;
    margin: 30px;
}

#sub-img-bat-1 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-bat-2 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-bat-3 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-bat-4 {
    float: left;
    margin: 50px;
    font-size: larger;
}

/* bedroom styles */

#nice-bedroom-main-img {
    height: 900px;
    width: 100%;
    background: url(../css/images/nice-bedroom-main-img.jpg) no-repeat center center;
    background-size: cover;
}

.sub-img-bedroom {
    clear: both;
    margin: 30px;
}

#sub-img-bed-1 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-bed-2 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-bed-3 {
    float: left;
    margin: 50px;
    font-size: larger;
}

#sub-img-bed-4 {
    float: left;
    margin: 50px;
    font-size: larger;
}

/* footer styles */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    min-height: 100vh;
}

.social-networks i {
    font-size: 160%;
    margin-bottom: 0;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* media queries */

/* for laptops, desktops */

@media (min-width: 1025px) and (max-width: 1280px) {

    /* kitchen styles */

    #nice-kitchen-main-img {
        height: 800px;
        width: 100%;
        background-image: url(../css/images/nice-kitchen-main-img.jpg);
        background-size: cover;
    }

    .sub-img-kitchen {
       clear: both;
       margin: 30px;
    }

    #sub-img-kit-1 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-kit-2 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-kit-3 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-kit-4 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    /* bathroom styles */

    #nice-bathroom-main-img {
       height: 900px;
       width: 100%;
       background: url(../css/images/nice-bathroom-main-img.jpg) no-repeat center center;
       background-size: cover;
    }

    .sub-img-bathroom {
       clear: both;
       margin: 30px;
    }

    #sub-img-bat-1 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-bat-2 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-bat-3 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-bat-4 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    /* bedroom styles */

    #nice-bedroom-main-img {
       height: 900px;
       width: 100%;
       background: url(../css/images/nice-bedroom-main-img.jpg) no-repeat center center;
       background-size: cover;
    }

    .sub-img-bedroom {
       clear: both;
       margin: 30px;
    }

    #sub-img-bed-1 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-bed-2 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-bed-3 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

    #sub-img-bed-4 {
       float: left;
       margin: 10px;
       font-size: larger;
    }

  
}

/* for tablets, portrait */

@media (min-width: 768px) and (max-width: 1024px) {
 
    /* kitchen styles */
    
    #nice-kitchen-main-img {
        height: 515px;
        width: 775;
        background-image: url(../css/images/nice-kitchen-main-img.jpg);
        background-size: cover;
   }

    .sub-img-kitchen {
        clear: both;
        margin: 30px;
   }
    
    #sub-img-kit-1 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    #sub-img-kit-2 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    #sub-img-kit-3 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    #sub-img-kit-4 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    /* bathroom styles */

    #nice-bathroom-main-img {
        height: 515px;
        width: 775px;
        background: url(../css/images/nice-bathroom-main-img.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .sub-img-bathroom {
        clear: both;
        margin: 30px;
    }
    
    #sub-img-bat-1 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bat-2 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bat-3 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bat-4 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    /* bedroom styles */

    #nice-bedroom-main-img {
        height: 515px;
        width: 775px;
        background: url(../css/images/nice-bedroom-main-img.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .sub-img-bedroom {
        clear: both;
        margin: 30px;
    }
    
    #sub-img-bed-1 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bed-2 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bed-3 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bed-4 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    /* footer styles */

    footer {
        height: 150px;
        margin-bottom: 0px;
    }

    .social-networks {
        text-align: center;
        margin-bottom: 0px;
    }

    .social-networks > li {
        display: inline;
        margin-bottom: 0px;
    }

    .social-networks i {
        font-size: 160%;
        margin-bottom: 0px;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }
   
}

/* mobiles, portrait */

@media (min-width: 320px) and (max-width: 480px) {

    /* kitchen styles */
    
    #nice-kitchen-main-img {
        height: 350px;
        width: 600;
        background-image: url(../css/images/nice-kitchen-main-img.jpg);
        background-size: cover;
   }

    .sub-img-kitchen {
     clear: both;
     margin: 30px;
   }
    
    #sub-img-kit-1 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    #sub-img-kit-2 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    #sub-img-kit-3 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    #sub-img-kit-4 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    /* bathroom styles */

    #nice-bathroom-main-img {
        height: 900px;
        width: 100%;
        background: url(../css/images/nice-bathroom-main-img.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .sub-img-bathroom {
        clear: both;
        margin: 30px;
    }
    
    #sub-img-bat-1 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bat-2 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bat-3 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bat-4 {
        float: left;
        margin: 10px;
        font-size: larger;
    }

    /* bedroom styles */

    #nice-bedroom-main-img {
        height: 900px;
        width: 100%;
        background: url(../css/images/nice-bedroom-main-img.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .sub-img-bedroom {
        clear: both;
        margin: 30px;
    }
    
    #sub-img-bed-1 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bed-2 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bed-3 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
    
    #sub-img-bed-4 {
        float: left;
        margin: 10px;
        font-size: larger;
    }
}