@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Noto+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: cormorant, noto-serif;
    color: #3a3a3a;
}

/* header styles */

#header {
    width: 100%;
    height: 40px;
    color: #3a3a3a;
    position: fixed;
    z-index: 2;
}

#logo {
    text-transform: capitalize;
    float: left;
    color: #fff;
}

#kitchen-header {
    text-decoration: underline;
}

#bathroom-header {
    text-decoration: underline;
}

#bedroom-header {
    text-decoration: underline;
}

/* navigation links */

#nav-bars {
    font-size: 120%;
    letter-spacing: 2px;
}

#nav-bars li {
     float: right;
     list-style-type: none;
     margin-right: 20px;
     margin-top: 5px;
}

#nav-bars a {
    text-decoration: none;
    color: #fff;
}

/* front page image */

#nice-living-room-main-img {
    height: 900px;
    width: 100%;
    background-image: url(../css/images/nice-living-room-main-img.jpg);
    background-size: cover;
    z-index: 1;
}

/* company info */

#company-info {
    float: right;
    font-family: noto serif;
    list-style-type: none;
    margin-top: 60%;
    margin-right: 20%;
    color: #fff;
}

#site-aim {
    float: left;
    font-family: noto serif;
    margin-top: 40%;
    margin-left: 10%;
    color: #fff;
    text-align: center;
    background-color: #3a3a3a;
    opacity: .5;
}

/* kitchen image styles */

#nice-kitchen-main-img {
     height: 800px;
     width: 100%;
     background-image: url(../css/images/nice-kitchen-main-img.jpg);
     background-size: cover;
}

.sub-img-kitchen {
    clear: both;
    margin: 30px;
}

#sub-img-kit-1 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-kit-2 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-kit-3 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-kit-4 {
    float: left;
    margin: 30px;
}

/* kitchen text styles */

#text-1-kitchen {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -1200px;
}

#text-2-kitchen {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -750px;
}

#text-3-kitchen {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -300px;
}

#text-4-kitchen {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: 150px;
}

/* bathroom image styles */

#nice-bathroom-main-img {
    height: 900px;
    width: 100%;
    background: url(../css/images/nice-bathroom-main-img.jpg) no-repeat center center;
    background-size: cover;
}

.sub-img-bathroom {
    clear: both;
}

#sub-img-bat-1 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-bat-2 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-bat-3 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-bat-4 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

/* bathroom text styles */

#text-1-bathroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -1650px;
}

#text-2-bathroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -1200px;
}

#text-3-bathroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -750px;
}

#text-4-bathroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -300px;
}

/* bedroom image styles */

#nice-bedroom-main-img {
    height: 900px;
    width: 100%;
    background: url(../css/images/nice-bedroom-main-img.jpg) no-repeat center center;
    background-size: cover;
}

#sub-img-bed-1 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-bed-2 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-bed-3 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

#sub-img-bed-4 {
    float: left;
    height: auto;
    width: 100%;
    margin: 30px;
}

/* bedroom text styles */

#text-1-bedroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -1650px;
}

#text-2-bedroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -1200px;
}

#text-3-bedroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -750px;
}

#text-4-bedroom {
    font-size: larger;
    float: right;
    text-align: center;
    margin-right: 10%;
    margin-top: -300px;
}

/* footer styles */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*maedia queries */

@media screen and (max-width: 1200px) {
    .sub-img-kitchen {
        height: 127px;
        width: 200px;
    }

    .sub-img-bathroom {
        height: 127px;
        width: 200px;
    }

    .sub-img-bedroom {
        height: 127px;
        width: 200px;
    }
}